{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %} Log-in {% endblock title %}	

{% block content %}
<h1>Log-in</h1>
<hr>
{% if forms.errors %}
	<p>Your username and password didn't match. Please try again.</p>
{% else %}
	<p>Please, use the following form to log in. If you don't have an account 
	<a href="{% url 'register' %}">register here</a></p>
{% endif %}
<div class="row">
	<div class="login-form col-md-3" >
		<form action="." method="post">
			{{ form|crispy }}
			{% csrf_token %}
			<input type="hidden" value="{{ next }}" name="next">
			<p><input type="submit" value="Log-in" class="btn btn-outline-secondary" name=""></p>
		</form>
		<p><a href="{% url 'password_reset' %}">Forgotten your password?</a></p>
	</div>
	<div class="col-md-3"></div>
	<div class="col-md-3"></div>

</div>

{% endblock content %}

	