{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %} Registration {% endblock title %}	

{% block content %}
<h1>Create an account</h1>
<hr>
<p>Please, sign up using the following form:</p>
<div class="login-form col-md-3" >
	<form action="." method="post">
		{{ user_form|crispy }}
		{% csrf_token %}
		<p><input type="submit" value="Create my account" class="btn btn-outline-secondary" name=""></p>
	</form>
<!-- 	<p><a href="{% url 'password_reset' %}">Need an account?</a></p> -->
</div>
{% endblock content %}
	